In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'], 
                  'key2': ['phil', 'phil', 'not phil', 'phil', 'not phil'], 
                  'data1' : np.random.randn(5), 
                  'data2':np.random.randn(5).cumsum()})

In [5]:
df.head()

      data1     data2 key1      key2
0  0.650682 -0.079167    a      phil
1 -1.371784  0.523263    a      phil
2 -0.265719 -0.452243    b  not phil
3  0.073764 -0.788373    b      phil
4  0.244357 -2.401597    a  not phil

In [6]:
df['data1'].groupby(df['key1']).mean()

key1
a   -0.158915
b   -0.095977
Name: data1, dtype: float64

In [10]:
df['data1'].groupby([df['key1'], df['key2']]).mean().unstack()

key2  not phil      phil
key1
a     0.244357 -0.360551
b    -0.265719  0.073764